.pp{
    display: inline-block;
    width: 72px;
    height: 72px;
}

.big_image{
    display: inline;
    width: 495px;
    height: 550px;
    margin: 0px;
    padding: 0px;
}

.an{
    color: rgb(30, 33, 44);
    cursor: pointer;
}

.an:hover{
    color: rgb(255, 90, 48);
}